html {
    scroll-behavior: smooth;
}


.hos-szekcio {
    overflow: hidden;
}

.hos-hatter {
    position: absolute;
    inset: 0;
    background-image: url("https://images.unsplash.com/photo-1570197788417-0e82375c9371?auto=format&fit=crop&w=1600&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hos-reteg {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.hos-tartalom {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.szekcio-eltolas {

}